<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Health app required to use your health update usage</string>
	<key>NSHealthShareUsageDescription</key>
	<string>SoundOfSpeed required to use your health share usage</string>
	<key>NSMotionUsageDescription</key>
	<string>SoundOfSpeed required to use you motion usage</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
